@use "../abstracts";

.home {
    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__heading {
        color: var(--cate-heading);

        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(md) {
            font-size: 2.2rem;
        }
    }

    &__cate {
        --grid-gutter-x: 51px;
        margin-top: 20px;

        @include abstracts.screen(lg) {
            --grid-gutter-x: 20px;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;
        }

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__product {
        @include abstracts.screen(lg) {
            --grid-gutter-y: 30px;
            --grid-gutter-x: 30px;
        }
    }
}

.home__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
