html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Gordita, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.icon {
  filter: var(--icon-color);
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
      contrast(99%);
  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;
  --dropdown-bg: #292e39;
  --dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(15%) sepia(29%) saturate(460%) hue-rotate(185deg)
      brightness(97%) contrast(89%);
  --top-menu-border-color: #171c28;
  --top-menu-text-color: #b9babe;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(91%) sepia(64%) saturate(1458%) hue-rotate(184deg)
      brightness(117%) contrast(96%);
  --sidebar-bg: #292e39;
  --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --cate-heading: #fff;
  --cate-item-title-color: #fff;
  --cate-item-desc-color: #fff;
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --filter-btn-color: #fff;
  --filter-btn-bg: #171c28;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);
  --product-card-text-color: #fff;
  --filter-form-bg: #292e39;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-form-text-color: #fff;
  --filter-form-slider-btn-bg: #292e39;
  --filter-form-tag-bg: #171c28;
  --filter-arrow-up: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(429%) hue-rotate(183deg)
      brightness(97%) contrast(90%);
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow-color: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    --text-color: #b9babe;
  }
}

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
      contrast(95%);
  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;
  --dropdown-bg: #fff;
  --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg)
      brightness(90%) contrast(95%);
  --sidebar-bg: #fff;
  --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  --cate-heading: #1a162e;
  --cate-item-title-color: #000;
  --cate-item-desc-color: #1a162e;
  --cate-item-bg: #eee;
  --cate-item-thumb-bg: #fff;
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);
  --product-card-text-color: #1a162e;
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-text-color: #1a162e;
  --filter-form-slider-btn-bg: #fff;
  --filter-form-tag-bg: #f8f8fb;
  --filter-arrow-up: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(17deg)
      brightness(104%) contrast(100%);
}
@media (max-width: 991.98px) {
  html {
    --header-bg-color: #fff;
    --header-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }
}
@media (max-width: 767.98px) {
  html {
    --cate-item-bg: #fff;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
    margin-left: 40px;
  }
}
@media (max-width: 575.98px) {
  .logo {
    margin-left: 0;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
  }
}

.dropdown {
  display: none;
  width: min(1240px, 100%);
  padding-top: 54px;
  position: absolute;
  left: 0;
  transition: 0.3s;
}
@media (max-width: 991.98px) {
  .dropdown {
    position: initial;
    padding-top: 0;
    height: auto;
  }
}
.dropdown__inner {
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 20px;
  background: var(--dropdown-bg);
  box-shadow: var(--dropdown-shadow);
}
.dropdown__inner::before {
  content: url(../icons/dropdown-arrow.svg);
  position: absolute;
  top: -14px;
  left: var(--arrow-left-pos);
  color: white;
  translate: -50%;
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0 40px;
  }
  .dropdown__inner::before {
    content: none;
  }
}
@media (max-width: 767.98px) {
  .dropdown__inner {
    padding: 0 20px;
  }
}

.top-menu {
  --main-column-width: 292px;
  height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
  position: relative;
}
@media (max-width: 991.98px) {
  .top-menu {
    height: auto;
  }
}
.top-menu__main {
  width: var(--main-column-width);
  height: inherit;
  border-right: 1px solid var(--top-menu-border-color);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    border-right: none;
  }
}

.menu-column {
  display: flex;
  column-gap: 14px;
  color: var(--top-menu-text-color);
}
.menu-column__icon {
  position: relative;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__icon--1 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon--2 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  filter: var(--menu-column-icon-color);
}
.menu-column__content {
  flex: 1;
}
.menu-column__list {
  margin-top: 19px;
}
@media (max-width: 991.98px) {
  .menu-column__list {
    margin-top: 0;
  }
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item--active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  color: #0071dc;
  font-weight: 500;
}
.menu-column__heading {
  margin-top: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  margin-bottom: 26px;
}
.menu-column__link {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 7px 0;
  line-height: 1.42; /* 142.857% */
}

.sub-menu {
  display: none;
  position: absolute;
  gap: var(--inner-padding);
  inset: 0 0 0 var(--main-column-width);
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--inner-padding);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}
.sub-menu__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .sub-menu__column {
    margin-top: 10px;
  }
}
.sub-menu--notmain {
  padding: 0;
  height: inherit;
  overflow-y: auto;
  position: static;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 991.98px) {
  .sub-menu--notmain {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.slideshow {
  margin-top: 40px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .slideshow {
    margin-top: 30px;
  }
}
.slideshow__inner {
  display: flex;
  overflow: hidden;
}
.slideshow__item {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  padding-top: 34%;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 37%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow__page {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 17px;
  left: 5.3%;
  bottom: 15%;
}
@media (max-width: 767.98px) {
  .slideshow__page {
    column-gap: 19px;
  }
}
.slideshow__number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
@media (max-width: 767.98px) {
  .slideshow__number {
    font-size: 1.4rem;
  }
}
.slideshow__slider {
  position: relative;
  background: #fff;
  width: 20%;
  height: 4px;
  flex-shrink: 0;
}
.slideshow__slider::before, .slideshow__slider::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  border: 4px solid #fff;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .slideshow__slider::before, .slideshow__slider::after {
    border: 3px solid #fff;
  }
}
.slideshow__slider::before {
  translate: -100% -50%;
  left: 0;
}
.slideshow__slider::after {
  translate: 100% -50%;
  right: 0;
}

.cate-item {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 20px;
  border-radius: 16px;
  background: var(--cate-item-bg);
  height: 100%;
}
@media (max-width: 1199.98px) {
  .cate-item {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .cate-item {
    flex-direction: row;
  }
}
.cate-item__title {
  color: var(--cate-item-title-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .cate-item__title {
    font-size: 1.8rem;
  }
}
.cate-item__desc {
  color: var(--cate-item-desc-color);
  margin-top: 6px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .cate-item__desc {
    font-size: 1.4rem;
  }
}
.cate-item__thumb {
  width: 116px;
  height: 116px;
  background: var(--cate-item-thumb-bg);
  border-radius: 8px;
  object-fit: contain;
}
@media (max-width: 1199.98px) {
  .cate-item__thumb {
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 767.98px) {
  .cate-item__thumb {
    width: 88px;
    height: 88px;
  }
}
@media (max-width: 1199.98px) {
  .cate-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .cate-item__info {
    align-items: flex-start;
  }
}

.product-card {
  background: var(--product-card-bg);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
  height: 100%;
}
.product-card__img-wrap {
  padding-top: 101%;
  position: relative;
}
.product-card__img-wrap:hover .product-card__thumb {
  scale: 1.2;
}
.product-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__like-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.product-card__info {
  margin-top: 16px;
}
.product-card__title, .product-card__price, .product-card__score {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--product-card-text-color);
}
.product-card__brand {
  color: #9e9da8;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 146.667%;
  margin: 16px 0;
}
.product-card__row {
  display: flex;
  align-items: center;
}
.product-card__star {
  margin: 0 6px 0 auto;
}

.filter-btn {
  display: flex;
  align-items: center;
  height: 36px;
  column-gap: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  background: var(--filter-btn-bg);
}
.filter-btn__text {
  color: var(--filter-btn-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;
}
.filter-btn__icon {
  width: 24px;
  height: 24px;
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px var(--like-btn-shadow);
}
.like-btn__icon--liked {
  margin-top: 8px;
}
.like-btn:not(.like-btn--like) .like-btn__icon--liked {
  display: none;
}
.like-btn--like .like-btn__icon {
  display: none;
}

.btn {
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background: #f8f8fb;
  user-select: none;
  font-size: 1.8rem;
  font-weight: 500;
}
.btn:hover {
  opacity: 0.9;
}
.btn + .btn {
  margin-left: 20px;
}
.btn--text {
  color: #9e9da8;
  background: transparent;
  font-weight: 400;
}
.btn--rounded, .btn--primary {
  color: #1a162e;
  background: #ffb700;
}
.btn--outline {
  background: transparent;
  color: #1a162e;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 99px;
}
.btn[disabled], .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.filter-wrap {
  position: relative;
}

.filter {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 57px;
  border-radius: 20px;
  padding: 30px;
  background: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
}
.filter__arrow {
  position: absolute;
  top: -19px;
  right: 23px;
  height: 21px;
  filter: var(--filter-arrow-up);
}
.filter__form-label, .filter__heading {
  display: block;
  color: var(--filter-form-text-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}
.filter__form {
  margin-top: 30px;
}
.filter__form-label--small {
  font-size: 1.4rem;
  line-height: 142.857%;
  margin-bottom: 10px;
}
.filter__form-group {
  margin: 30px 0;
}
.filter__form-group--horizontal {
  display: flex;
  column-gap: 30px;
}
.filter__form-slider {
  position: relative;
  width: 100%;
  height: 2px;
  background: #d2d1d6;
}
.filter__form-slider::before, .filter__form-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: var(--filter-form-slider-btn-bg);
  border-radius: 50%;
  border: 6px solid #ffb700;
}
.filter__form-slider::before {
  left: var(--min-value);
}
.filter__form-slider::after {
  left: var(--max-value);
}
.filter__form-text-input, .filter__form-select-wrap {
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
.filter__form-text-input {
  padding: 0 16px;
  display: flex;
  align-items: center;
  overflow: none;
  height: 44px;
  width: 334px;
}
.filter__form-text-input--small {
  width: 121px;
  height: 36px;
  padding: 0 12px;
  font-size: 1.4rem;
}
.filter__form-text-input--small .filter__form-input {
  font-size: 1.4rem;
}
.filter__form-input {
  width: 100%;
  color: var(--filter-form-text-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.857%;
  background: inherit;
}
.filter__form-input::placeholder {
  color: #9e9da8;
  font-weight: 400;
}
.filter__form-input-icon {
  margin-left: 12px;
}
.filter__form-select-wrap {
  display: flex;
  align-items: center;
  height: 45px;
}
.filter__form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  min-width: var(--width, 108px);
  color: var(--filter-form-text-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
}
.filter__form-separate {
  width: 1px;
  height: 35px;
  background: #d2d1d6;
}
.filter__form-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.filter__form-tag {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  color: #9e9da8;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  border-radius: 6px;
  background: var(--filter-form-tag-bg);
  transition: color 0.15s;
}
.filter__form-tag:hover {
  color: var(--filter-form-text-color);
}
.filter__separate {
  width: 1px;
  margin: 0 30px;
  background: #eee;
}
.filter__row {
  display: flex;
}
.filter__footer {
  justify-content: flex-end;
  margin-top: 18px;
}
.filter__footer-cancel, .filter__footer-result {
  font-size: 1.5rem;
}
.filter__footer-result {
  height: 40px;
  padding: 9px 10px;
}

.top-act__btn, .top-act__group, .top-act, .navbar__link, .navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}
@media (max-width: 991.98px) {
  .header {
    box-shadow: var(--header-shadow-color);
  }
}

.top-bar {
  position: relative;
  padding: 30px 0;
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  .top-bar {
    justify-content: space-between;
    padding: 16px 0;
  }
}

.navbar {
  z-index: 9;
  margin-left: 129px;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 28px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    translate: -100%;
    position: fixed;
    inset: 0 50% 0 0;
    margin-left: 0;
    background: var(--sidebar-bg);
    padding: 20px 0;
    border-radius: 0px 20px 20px 0px;
    transition: translate 0.5s;
  }
  .navbar.show {
    translate: 0;
    box-shadow: var(--sidebar-shadow);
  }
  .navbar.show + .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar__overlay {
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: visibility, opacity 0.5s;
}
.navbar__close-btn {
  padding: 10px 40px;
}
@media (max-width: 767.98px) {
  .navbar__close-btn {
    padding: 0 20px 10px;
  }
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overscroll-behavior: contain;
    height: calc(100% - 40px);
  }
}
@media (max-width: 767.98px) {
  .navbar__list {
    height: calc(100% - 140px);
  }
}
@media (max-width: 575.98px) {
  .navbar__list {
    height: calc(100% - 120px);
  }
}
.navbar__item:hover .dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .dropdown {
    display: none;
  }
  .navbar__item--active .dropdown {
    display: block !important;
  }
  .navbar__item--active .navbar__arrow {
    rotate: 0deg;
  }
}
.navbar__link {
  padding: 0 15px;
  gap: 6px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 0 40px;
    font-size: 1.6rem;
    line-height: 1.5;
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .navbar__link {
    padding: 0 20px;
    height: 44px;
  }
}
.navbar__arrow {
  margin-top: 3px;
  transition: rotate 0.25s;
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    rotate: -90deg;
  }
}

.top-act {
  gap: 20px;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act__group {
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--top-act-group-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  gap: 10px;
  padding: 13px 20px;
  cursor: pointer;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-act-group-separate);
}
.top-act__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn {
  height: 50px;
  align-items: center;
  padding: 0 40px;
}
@media (max-width: 767.98px) {
  .nav-btn {
    padding: 0 20px;
    height: 44px;
  }
}
.nav-btn__title, .nav-btn__quality {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  color: var(--text-color);
}
.nav-btn__title {
  margin-left: 16px;
}
.nav-btn__quality {
  margin-left: auto;
}

.home__container {
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .home__container {
    margin-top: 30px;
  }
}
.home__heading {
  color: var(--cate-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}
@media (max-width: 767.98px) {
  .home__heading {
    font-size: 2.2rem;
  }
}
.home__cate {
  --grid-gutter-x: 51px;
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .home__cate {
    --grid-gutter-x: 20px;
  }
}
@media (max-width: 767.98px) {
  .home__cate {
    --grid-gutter-y: 20px;
  }
}
@media (max-width: 767.98px) {
  .home__cate {
    margin-top: 0;
  }
}
@media (max-width: 991.98px) {
  .home__product {
    --grid-gutter-y: 30px;
    --grid-gutter-x: 30px;
  }
}

.home__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
