// Filter Button
.filter-btn {
    display: flex;
    align-items: center;
    height: 36px;
    column-gap: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    background: var(--filter-btn-bg);

    &__text {
        color: var(--filter-btn-color);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 142.857%;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}

// Like Button
.like-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 20px 60px var(--like-btn-shadow);

    &__icon--liked {
        margin-top: 8px;
    }

    &:not(&--like) &__icon--liked {
        display: none;
    }

    &--like &__icon {
        display: none;
    }
}

// Button
.btn {
    &:hover {
        opacity: 0.9;
    }

    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    background: #f8f8fb;

    user-select: none;

    font-size: 1.8rem;
    font-weight: 500;

    + .btn {
        margin-left: 20px;
    }

    &--text {
        color: #9e9da8;
        background: transparent;
        font-weight: 400;
    }

    &--rounded,
    &--primary {
        color: #1a162e;
        background: #ffb700;
    }

    &--outline {
        background: transparent;
        color: #1a162e;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
