@use "../abstracts";

.filter-wrap {
    position: relative;
}

.filter {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 57px;
    border-radius: 20px;
    padding: 30px;
    background: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

    &__arrow {
        position: absolute;
        top: -19px;
        right: 23px;
        height: 21px;
        filter: var(--filter-arrow-up);
    }

    &__form-label,
    &__heading {
        display: block;
        color: var(--filter-form-text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    // Form Start
    &__form {
        margin-top: 30px;

        &-label--small {
            font-size: 1.4rem;
            line-height: 142.857%;
            margin-bottom: 10px;
        }

        &-group {
            margin: 30px 0;

            &--horizontal {
                display: flex;
                column-gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background: #d2d1d6;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 22px;
                height: 22px;
                background: var(--filter-form-slider-btn-bg);
                border-radius: 50%;
                border: 6px solid #ffb700;
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            padding: 0 16px;
            display: flex;
            align-items: center;
            overflow: none;
            height: 44px;
            width: 334px;

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;
                font-size: 1.4rem;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
        }

        &-input {
            width: 100%;
            color: var(--filter-form-text-color);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.857%;
            background: inherit;
            &::placeholder {
                color: #9e9da8;
                font-weight: 400;
            }

            &-icon {
                margin-left: 12px;
            }
            // height: 36px;
            // width: 121px;
            // padding: 0 12px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 14px;
            min-width: var(--width, 108px);

            color: var(--filter-form-text-color);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }

        &-separate {
            width: 1px;
            height: 35px;
            background: #d2d1d6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 0 12px;

            color: #9e9da8;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            border-radius: 6px;
            background: var(--filter-form-tag-bg);

            transition: color 0.15s;

            &:hover {
                color: var(--filter-form-text-color);
            }
        }
    }

    // End Form

    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;
    }

    &__row {
        display: flex;
    }

    &__footer {
        justify-content: flex-end;
        margin-top: 18px;

        &-cancel,
        &-result {
            font-size: 1.5rem;
        }

        &-result {
            height: 40px;
            padding: 9px 10px;
        }
    }
}
