@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
        contrast(99%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-shadow-color: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
        --text-color: #b9babe;
    }

    // Dropdown
    --dropdown-bg: #292e39;
    --dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(15%) sepia(29%) saturate(460%) hue-rotate(185deg)
        brightness(97%) contrast(89%);
    --top-menu-border-color: #171c28;
    --top-menu-text-color: #b9babe;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(91%) sepia(64%) saturate(1458%) hue-rotate(184deg)
        brightness(117%) contrast(96%);

    //Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

    // Home Catetory
    --cate-heading: #fff;
    --cate-item-title-color: #fff;
    --cate-item-desc-color: #fff;

    // category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;

    // filter button
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    // Like Button
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    --product-card-text-color: #fff;
    // Filter Form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-form-text-color: #fff;
    --filter-form-slider-btn-bg: #292e39;
    --filter-form-tag-bg: #171c28;
    --filter-arrow-up: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(429%) hue-rotate(183deg)
        brightness(97%) contrast(90%);
}
