@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
        contrast(95%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg: #fff;
    --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg)
        brightness(90%) contrast(95%);

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

    // Home Catetory
    --cate-heading: #1a162e;
    --cate-item-title-color: #000;
    --cate-item-desc-color: #1a162e;

    // category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // filter button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Like Button
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --product-card-text-color: #1a162e;

    // Filter Form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-text-color: #1a162e;
    --filter-form-slider-btn-bg: #fff;
    --filter-form-tag-bg: #f8f8fb;
    --filter-arrow-up: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(17deg)
        brightness(104%) contrast(100%);
}
