<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="icon top-bar__more js-toggle d-none d-lg-block" toggle-target="#navbar">
            <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
            <h1 class="logo__title">grocerymart</h1>
        </a>

        <!-- Navbar -->
        <nav class="navbar hide" id="navbar">
            <button class="navbar__close-btn js-toggle d-none d-lg-inline-block" toggle-target="#navbar">
                <img class="icon" src="./assets/icons/arrow-left.svg" alt="" />
            </button>

            <a href="#!" class="nav-btn d-none d-md-flex">
                <img class="icon" src="./assets/icons/buy.svg" alt="" class="nav-btn__icon" />
                <span class="nav-btn__title">Card</span>
                <span class="nav-btn__quality">3</span>
            </a>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img class="icon" src="./assets/icons/heart.svg" alt="" class="nav-btn__icon" />
                <span class="nav-btn__title">Favorite</span>
                <span class="nav-btn__quality">3</span>
            </a>

            <ul class="navbar__list js-dropdown-list">
                <!-- Item 1 (Departments) -->
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Departments
                        <img src="./assets/icons/down.svg" alt="" class="icon navbar__arrow" />
                    </a>

                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <div class="top-menu__main">
                                    <!-- Menu Column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon d-lg-none">
                                            <img
                                                src="./assets/img/category/cate-1.1.svg"
                                                alt=""
                                                class="menu-column__icon--1"
                                            />

                                            <img
                                                src="./assets/img/category/cate-1.2.svg"
                                                alt=""
                                                class="menu-column__icon--2"
                                            />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading d-lg-none">All Departments</h2>
                                            <!-- menu column list -->
                                            <ul class="menu-column__list js-menu-list">
                                                <!-- menu column item 1 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">
                                                        Savings & Featured Shops
                                                    </a>
                                                </li>

                                                <!-- menu column item 2 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Electronics</a>
                                                    <div class="sub-menu">
                                                        <!-- sub menu column 1 -->
                                                        <div class="sub-menu__column">
                                                            <!-- menu column 1.1 -->
                                                            <div class="menu-column">
                                                                <div class="menu-column__icon">
                                                                    <img
                                                                        src="./assets/img/category/cate-2.1.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--1"
                                                                    />

                                                                    <img
                                                                        src="./assets/img/category/cate-2.2.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--2"
                                                                    />
                                                                </div>
                                                                <div class="menu-column__content">
                                                                    <h2 class="menu-column__heading">TV & Video</h2>
                                                                    <ul class="menu-column__list">
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Shop all TVs</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >TVs by Size</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Smart TVs</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Roku TVs</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Streaming</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >TV Mounts & Accessories</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >DVD & Blu-Ray Players</a
                                                                            >
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <!-- menu column 1.2 -->
                                                            <div class="menu-column">
                                                                <div class="menu-column__icon">
                                                                    <img
                                                                        src="./assets/img/category/cate-3.1.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--1"
                                                                    />

                                                                    <img
                                                                        src="./assets/img/category/cate-3.2.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--2"
                                                                    />
                                                                </div>
                                                                <div class="menu-column__content">
                                                                    <h2 class="menu-column__heading">
                                                                        Wearable Technology
                                                                    </h2>
                                                                    <ul class="menu-column__list">
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Shop all TVs</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Galaxy Watch</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Apple Watch</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Fitness Trackers</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Virtual Reality</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Headphones</a
                                                                            >
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- sub menu column 2 -->
                                                        <div class="sub-menu__column">
                                                            <!-- menu column 1.1 -->
                                                            <div class="menu-column">
                                                                <div class="menu-column__icon">
                                                                    <img
                                                                        src="./assets/img/category/cate-4.1.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--1"
                                                                    />

                                                                    <img
                                                                        src="./assets/img/category/cate-4.2.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--2"
                                                                    />
                                                                </div>
                                                                <div class="menu-column__content">
                                                                    <h2 class="menu-column__heading">Computers</h2>
                                                                    <ul class="menu-column__list">
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Shop All Computers</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >TVs by Size</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Laptops</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >PC Gaming</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Monitors</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Chromebook</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Printers & Ink</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Shop all TVs</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Computer Accessories</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Desktops</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Tax Software</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Computer Software</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >PC Finder</a
                                                                            >
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- sub menu column 3 -->
                                                        <div class="sub-menu__column">
                                                            <!-- menu column 1.1 -->
                                                            <div class="menu-column">
                                                                <div class="menu-column__icon">
                                                                    <img
                                                                        src="./assets/img/category/cate-5.1.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--1"
                                                                    />

                                                                    <img
                                                                        src="./assets/img/category/cate-5.2.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--2"
                                                                    />
                                                                </div>
                                                                <div class="menu-column__content">
                                                                    <h2 class="menu-column__heading">Savings</h2>
                                                                    <ul class="menu-column__list">
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Tech Savings</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Overstock Savings</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Tech Rollbacks</a
                                                                            >
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <!-- menu column 1.2 -->
                                                            <div class="menu-column">
                                                                <div class="menu-column__icon">
                                                                    <img
                                                                        src="./assets/img/category/cate-6.1.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--1"
                                                                    />

                                                                    <img
                                                                        src="./assets/img/category/cate-6.2.svg"
                                                                        alt=""
                                                                        class="menu-column__icon--2"
                                                                    />
                                                                </div>
                                                                <div class="menu-column__content">
                                                                    <h2 class="menu-column__heading">Cell Phones</h2>
                                                                    <ul class="menu-column__list">
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Wireless Deals</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >5G Phones
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Prepaid Phones & Plans
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Refurbished Phones</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >iPhone Accessories</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Cases & Screen Protectors</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Walmart Protection Plan</a
                                                                            >
                                                                        </li>
                                                                        <li class="menu-column__item">
                                                                            <a href="#!" class="menu-column__link"
                                                                                >Unlocked Phones</a
                                                                            >
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <!-- menu column item 3 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link"
                                                        >Clothing, Shoes & Accessories</a
                                                    >
                                                </li>

                                                <!-- menu column item 4 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link"
                                                        >Home, Furniture & Appliances</a
                                                    >
                                                </li>

                                                <!-- menu column item 5 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Toys & Video Games</a>
                                                </li>

                                                <!-- menu column item 6 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Home Improvement</a>
                                                </li>

                                                <!-- menu column item 7 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Baby</a>
                                                </li>

                                                <!-- menu column item 8 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Household Essentials</a>
                                                </li>

                                                <!-- menu column item 9 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Personal Care</a>
                                                </li>

                                                <!-- menu column item 10 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Patio & Garden</a>
                                                </li>

                                                <!-- menu column item 11 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Sports & Outdoors</a>
                                                </li>

                                                <!-- menu column item 12 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Gift Cards</a>
                                                </li>

                                                <!-- menu column item 13 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link"
                                                        >Auto, Tires and Industrial</a
                                                    >
                                                </li>

                                                <!-- menu column item 14 -->
                                                <li class="menu-column__item">
                                                    <a href="#!" class="menu-column__link">Movies, Music & Books</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Item 2 (Grocery) -->
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img src="./assets/icons/down.svg" alt="" class="icon navbar__arrow" />
                    </a>

                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <div class="sub-menu sub-menu--notmain">
                                    <!-- sub menu column 1 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-7.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-7.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Grocery</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Grilling Foods </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Spring Flavors</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- menu column 1.2 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-8.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-8.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Fresh Produce</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Celebrate Salad Month</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Healthy Living </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Fresh Flowers </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Chilled Dressing </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Fresh Fruit</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Salad Kits & Bowls</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Organic Produce</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Fresh Vegetables</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- sub menu column 2 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-9.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-9.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Bakery & Bread</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">New in Bakery</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Sliced Bread</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Rolls & Buns</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Tortillas</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Breakfast Breads</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Pies</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Cookies & Brownies</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- menu column 1.2 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-10.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-10.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Frozen</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Frozen Breakfast</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Frozen Potatoes</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Frozen Meals & Snacks</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- sub menu column 3 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-11.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-11.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Snacks</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Chips</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Popcorn & Pretzels</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Crackers</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Salsa & Dips</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- menu column 1.2 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-12.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-12.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Candy</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Better for You</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Chocolate </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Sugar Free Candy</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Gum</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Mints</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">On-the-Go</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- sub menu column 4 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-13.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-13.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Cocktails & Mixes Coffee</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Ground Coffee</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Whole Bean Coffee</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Coffee Pods</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Instant Coffee</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- menu column 1.2 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-14.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-14.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Beverages</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Water</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Soft Drinks</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Fruit Juice</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">GSports Drinksum</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Energy Drinks</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Tea</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Hot Chocolate & Cocoa</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Item 3  (Beauty) -->
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img src="./assets/icons/down.svg" alt="" class="icon navbar__arrow" />
                    </a>

                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <div class="sub-menu sub-menu--notmain">
                                    <!-- sub menu column 1 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-7.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-7.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Featured Shops</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link"
                                                            >Pickup Today in Beauty</a
                                                        >
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">BeautySpaceNK</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Equate Beauty </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Beauty Deals</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Walmart Exclusives </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Luxury Beauty Deals</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">New Arrivals</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- menu column 1.2 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-15.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-15.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Trending in Beauty</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link"
                                                            >Trending Beauty Products</a
                                                        >
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Celebrate Earth Day</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Prom-ready Beauty </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Summer Beauty </a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Travel Size & Minis</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- sub menu column 2 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-16.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-16.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Featured Brands</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">New in Bakery</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Sliced Bread</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Rolls & Buns</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Tortillas</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Breakfast Breads</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Pies</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Cookies & Brownies</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- menu column 1.2 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-17.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-10.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Frozen</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Black Owned Beauty</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">LatinX Owned Beauty</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">AAPI Owned Beauty </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- sub menu column 3 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-18.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-18.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Premium Beauty</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Hair Color</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Hair Care</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Skincare</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Fragrance</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Makeup</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Beauty Tech & Tools</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- sub menu column 4 -->
                                    <div class="sub-menu__column">
                                        <!-- menu column 1.1 -->
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img
                                                    src="./assets/img/category/cate-19.1.svg"
                                                    alt=""
                                                    class="menu-column__icon--1"
                                                />

                                                <img
                                                    src="./assets/img/category/cate-19.2.svg"
                                                    alt=""
                                                    class="menu-column__icon--2"
                                                />
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">Beauty</h2>
                                                <ul class="menu-column__list">
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Shop All</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Men's Grooming</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Bath & Body</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Beauty Tech & Tools</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Makeup</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Fragrance</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Nail Care</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Hair Care</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Hair Color</a>
                                                    </li>
                                                    <li class="menu-column__item">
                                                        <a href="#!" class="menu-column__link">Skincare</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single d-lg-none">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="icon top-act__icon" />
                </button>
            </div>

            <div class="top-act__group d-md-none">
                <button class="top-act__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="icon top-act__icon" />
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon" />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <div class="top-act__user">
                <img src="./assets/img/avatar/avatar.jpg" alt="" class="top-act__avatar" />
            </div>
        </div>
    </div>
</div>
