@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.screen(lg) {
        box-shadow: var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 30px 0;

    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: 16px 0;
    }
}

.navbar {
    z-index: 9;
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: 28px;
    }

    @include abstracts.screen(lg) {
        translate: -100%;
        position: fixed;
        inset: 0 50% 0 0;
        margin-left: 0;
        background: var(--sidebar-bg);
        padding: 20px 0;
        border-radius: 0px 20px 20px 0px;
        transition: translate 0.5s;

        &.show {
            translate: 0;
            box-shadow: var(--sidebar-shadow);
        }

        &.show + &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(md) {
        inset: 0 20% 0 0;
    }

    &__overlay {
        z-index: 8;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        inset: 0;
        background: rgba($color: #000000, $alpha: 0.4);
        transition: visibility, opacity 0.5s;
    }

    &__close-btn {
        padding: 10px 40px;

        @include abstracts.screen(md) {
            padding: 0 20px 10px;
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }

        @include abstracts.screen(md) {
            height: calc(100% - 140px);
        }

        @include abstracts.screen(sm) {
            height: calc(100% - 120px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }

            &--active .navbar__arrow {
                rotate: 0deg;
            }
        }
    }

    &__link {
        @extend %flexItemsCenter;
        padding: 0 15px;
        gap: 6px;
        height: 50px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(lg) {
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 1.5;
            justify-content: space-between;
        }

        @include abstracts.screen(md) {
            padding: 0 20px;
            height: 44px;
        }
    }

    &__arrow {
        margin-top: 3px;
        transition: rotate 0.25s;
        @include abstracts.screen(lg) {
            rotate: -90deg;
        }
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 20px;
    margin-left: auto;

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.nav-btn {
    height: 50px;
    align-items: center;
    padding: 0 40px;

    @include abstracts.screen(md) {
        padding: 0 20px;
        height: 44px;
    }

    &__title,
    &__quality {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
        color: var(--text-color);
    }

    &__title {
        margin-left: 16px;
    }

    &__quality {
        margin-left: auto;
    }
}
